@font-face {
    font-family: 'Poppins-Bold';
    src: url('../asset/font/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Poppins-Bold';
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #c50707;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

#content {
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page {
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.page h2 {
    margin-bottom: 20px;
}

.page form {
    display: flex;
    flex-direction: column;
}

.page form label {
    text-align: left;
    margin-bottom: 10px;
}

.page form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.page form button {
    background-color: #8c1b1b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.page form button:hover {
    background-color: #a52323;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

#dataList {
    padding-left: 5px;
}

#dataList li {
    background-color: #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}