{{ define "content" }}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">User List</h2>
    </div>
    <div class="card-content">
        <ul class="list">
            {{ range .users }}
            <li class="list-item">
                <div class="user-info">
                    <span class="user-name">{{ .Name }}</span>
                    <span class='user-status {{ if eq .Active "Aktif" }}status-active{{ else }}status-inactive{{ end }}'>{{.Active }}</span>
                </div>
                <div class="user-actions">
                    <a href="/user-detail?id={{ .ID }}" class="btn btn-outline btn-sm">Detail</a>
                    <a href="/user-delete?id={{ .ID }}" class="btn btn-icon" onclick="return confirm('Are you sure to delete this user?')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M3 6h18"></path>
                            <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
                            <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
                        </svg>
                    </a>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}